<!DOCTYPE html>
<html lang="en">

<head>
    <!-- HTML Meta Tags -->
    <title>Projects.ibrahimsaid.ca</title>
    <meta name="description" content="Check out what I am working on! Code, websites, and everything else.">

<!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Projects.ibrahimsaid.ca">
    <meta itemprop="description" content="Check out what I am working on! Code, websites, and everything else.">
    <meta itemprop="image" content="https://projects.ibrahimsaid.ca/img/logo.png">

<!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://projects.ibrahimsaid.ca">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Projects.ibrahimsaid.ca">
    <meta property="og:description" content="Check out what I am working on! Code, websites, and everything else.">
    <meta property="og:image" content="https://projects.ibrahimsaid.ca/img/logo.png">

<!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Projects.ibrahimsaid.ca">
    <meta name="twitter:description" content="Check out what I am working on! Code, websites, and everything else.">
    <meta name="twitter:image" content="https://projects.ibrahimsaid.ca/img/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}">

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    {{{html}}}

    <!-- Highlight.js - Code highlighting. -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/nord.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Highlight.js -->
</body>

</html>